[submodule "submodules/simple-knn"]
	path = submodules/simple-knn
	url = https://gitlab.inria.fr/bkerbl/simple-knn.git
    ignore = dirty
[submodule "submodules/diff-gaussian-rasterization"]
	path = submodules/diff-gaussian-rasterization
	url = https://github.com/graphdeco-inria/diff-gaussian-rasterization
[submodule "gaussian_tracing/cuda/csrc/third_party/optix"]
	path = gaussian_tracing/cuda/csrc/third_party/optix
	url = https://github.com/NVIDIA/optix-dev.git
[submodule "gaussian_tracing/cuda/csrc/third_party/glm"]
	path = gaussian_tracing/cuda/csrc/third_party/glm
	url = https://github.com/g-truc/glm.git
