# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg
MANIFEST
tmp*/

# Editable install egg-link file
*.egg-link

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environment
venv/
env/
ENV/
.venv/
.virtualenv/

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/

# VS Code
.vscode/

# IDEs
.idea/
*.sublime-workspace
*.sublime-project

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log
*.stdout 
*.stderr
*.out

# Mac and Linux file cruft
.DS_Store
Thumbs.db

# Local environment variables
.envrc
.env
.env.*

# Static type checker
.pytype/

# Profiling data
.prof
*.lprof

# Editor backups
*~
*.swp
*.swo
*.bak

# Custom: ignore any local config overrides
config.local.*
/data
/editable_gauss_refl/cuda/data
/output
/out
/results*
*.ignore.*
*.ignore

# Local files
/.bash_history
/TODO.md